.pizza-comments-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details-wrapper { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 50px 10% 100px 10%;
}

.details-img {
    width: 500px;
    height: 350px;
    object-fit: cover;
    border-radius: 35px;
    border: 1px solid rgb(241, 205, 161);
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 12px 12px 20px 0 rgba(0, 0, 0, 0.19);
}

.details-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

.details-info p {
    margin-top: 10px;
}

.details-info .details-property {
    font-size: 18px;
    font-weight: 600;
    color: #6e120f;
    background-color: rgb(237, 227, 225);
    border: 1px solid #6e120f;
    border-radius: 10px;
    padding: 3px 8px;
}

.details-info .details-content {
    color: #222831;
    font-weight: bold;
}

.edit-button,
.delete-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    color: #fff;
    background-color: #ffbe33;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button {
    background-color: #d9534f;
    margin-left: 10px;
}

.confirm-delete,
.not-confirm-delete {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 6px;
    color: #fff;
    background-color: #ffbe33;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-delete {
    background-color: #d9534f;
    margin-right: 30px;
}

.confirm-deletion {
    font-weight: bold;
    font-size: large;
    color: #cf1e18;
}

.comments-section {
    margin-bottom: 20px;
}

.details-comments h2 {
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
    color: #222831;
}

.details-comments li {
    width: 700px;
    display: block;
    position: static;
    margin: 20px auto 25px auto;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 12px 12px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
    margin-left: 60px;
    background-color: #edb86a;
    color: #222831;
}

.comment p {
    padding: 16px 16px 8px 16px;
    margin-bottom: -10px;
}

.comment .username {
    padding-top: 6px;
}

.comment .date {
    font-size: 13px;
}

.comment .buttons_date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.comment .buttons_date .buttons {
    margin-right: 10px;
}

.comment .buttons_date .buttons .edit {
    margin-right: 10px;
}

.comment .buttons_date .buttons .edit,
.comment .buttons_date .buttons .delete {
    color: #fff;
    background-color: #df8909;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.comment .buttons_date .buttons .delete {
    background-color: #d9534f;
}

.details-comments .no-comment {
    text-align: center;
    font-weight: bold;
    color: white;
}

.create-comment {
    margin-top: 60px;
    position: relative;
    text-align: center;
    width: 900px;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #df8909;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 12px 12px 20px 0 rgba(0, 0, 0, 0.19);
}

.create-comment p {
    color: white;
    font-size: 17px;
    font-weight: 600;
}

.create-comment>.form>textarea {
    margin-top: 22px;
    margin-bottom: 28px;
    padding: 5px;
    border-radius: 10px;
}

.create-comment>label {
    color: white;
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    line-height: normal;
}

.create-comment .btn {
    padding: 10px 20px;
    border: none;
    background-color: #ffbe33;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.create-comment .btn:hover {
    background-color: #e69c00;
}

.create-comment .errorMessage {
    color: red;
    font-size: 0.8em;
    margin: 10px 0;
}