.client_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client_section .container {
  max-height: 660px;
}

.client_section h2 {
  margin: 50px 0px;
}

.client-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.client-wrap .item .box {
  display: flex;
  flex-direction: column;
}

.client_section .box .img-box img {
  border-radius: 100%;
  border: 10px solid #ffbe33;
  position: relative;
  transform: scale(0.50);
}

.client-wrap .item .box .detail-box {
  background-color: #222831;
  color: #ffffff;
  padding: 25px;
  border-radius: 5px;
  text-align: left;
  height: 242px;
  transition: transform 0.4s ease;
}

.client-wrap .item .box .detail-box:hover {
  transform: scale(1.1);
}

.client-wrap .item .box .detail-box h4 {
  font-family: 'Dancing Script', cursive;
}

.client_section .box .detail-box p {
  margin-bottom: 0;
  font-size: 15px;
  margin-bottom: 10px;
}